<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Zarządzanie wolontariuszami</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-lg-6">
        <div class="col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <label>Nowy wolontariusz</label>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <p class="help-block">Imię nowego wolontariusza</p>
                        <input class="form-control" placeholder="Jan">
                        <p class="help-block">Nazwisko nowego wolontariusza</p>
                        <input class="form-control" placeholder="Kowalski">
                        <p class="help-block">Email nowego wolontariusza</p>
                        <input class="form-control" placeholder="email@email.pl">
                        <p class="help-block">Numer kontakowy nowego wolontariusza</p>
                        <input class="form-control" placeholder="123-456-789">
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-outline btn-primary center-block">Zarejestruj</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="col-lg-10">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label>Nowy zespół</label>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <p class="help-block">Członek 1</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select>

                        <div class="form-group">
                            <p class="help-block">Członek 2</p>
                            <select class="form-control">
                                <option>Janek</option>
                                <option>Bartek</option>
                                <option>Mietek</option>
                                <option>Łukasz</option>
                                <option>Mateusz</option>
                            </select> </div>

                        <div class="form-group">
                            <p class="help-block">Członek 3</p>
                            <select class="form-control">
                                <option>Janek</option>
                                <option>Bartek</option>
                                <option>Mietek</option>
                                <option>Łukasz</option>
                                <option>Mateusz</option>
                            </select> </div>

                        <div class="form-group">
                            <p class="help-block">Członek 4</p>
                            <select class="form-control">
                                <option>Janek</option>
                                <option>Bartek</option>
                                <option>Mietek</option>
                                <option>Łukasz</option>
                                <option>Mateusz</option>
                            </select> </div>

                        <div class="form-group">
                            <p class="help-block">Członek 5</p>
                            <select class="form-control">
                                <option>Janek</option>
                                <option>Bartek</option>
                                <option>Mietek</option>
                                <option>Łukasz</option>
                                <option>Mateusz</option>
                            </select> </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-outline btn-primary center-block">Dodaj zespół</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label>Edytuj informacje o wolontariuszu</label>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <p class="help-block">Wybierz z listy</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select>

                    <p class="help-block">Imię  wolontariusza</p>
                    <input class="form-control" placeholder="Jan">
                    <p class="help-block">Nazwisko wolontariusza</p>
                    <input class="form-control" placeholder="Kowalski">
                    <p class="help-block">Email wolontariusza</p>
                    <input class="form-control" placeholder="email@email.pl">
                    <p class="help-block">Numer kontakowy wolontariusza</p>
                    <input class="form-control" placeholder="123-456-789">
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-outline btn-primary center-block">Zapisz zmiany</button>
            </div>
        </div>
    </div>
    </div>


    <div class="col-lg-6">
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <label>Edytuj zespół</label>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <p class="help-block">Wybierz zespół do edycji</p>
                    <select class="form-control">
                        <option>Zespół 1</option>
                        <option>Zespół 2</option>
                        <option>Zespół 3</option>
                        <option>Zespół 4</option>
                        <option>Zespół 5</option>
                    </select>

                    <div class="form-group">
                        <p class="help-block">Członek 1</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select> </div>

                    <div class="form-group">
                        <p class="help-block">Członek 2</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select> </div>

                    <div class="form-group">
                        <p class="help-block">Członek 3</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select> </div>

                    <div class="form-group">
                        <p class="help-block">Członek 4</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select> </div>

                    <div class="form-group">
                        <p class="help-block">Członek 5</p>
                        <select class="form-control">
                            <option>Janek</option>
                            <option>Bartek</option>
                            <option>Mietek</option>
                            <option>Łukasz</option>
                            <option>Mateusz</option>
                        </select> </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-outline btn-primary center-block">Dodaj zespół</button>
            </div>
        </div>
    </div>
</div>






</div>